#NODE_ENV
NODE_ENV="development"

#PORT
PORT=8000

#DATABASE
DATABASE_URL="postgresql://postgres:mysecretpassword@localhost:5432/postgres"

#JWT
JWT_ACCESS_SECRET="access_secret"
JWT_REFRESH_SECRET="refresh_secret"

#ARGON2
ARGON2_PEPPER="argon2_pepper"

#OTP
OTP_SECRET="otp_secret"

#GOOGLE
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

#FRONTEND
FRONTEND_URL="http://localhost:3000"

#BACKEND
BACKEND_URL="http://localhost:8000"